body{
    position: absolute;
    height: 100px;
    background-color: rgb(156, 171, 240);
    font-size: 17px;
}
a{
    color: rgb(255,255,255);
    text-decoration: none;
}
.cabecalho{
    text-align: center;
    position: relative;
    left: 31em;
    color:rgba(255, 255, 255)
}