body{
    position: absolute;
    height: 100px;
    background-color: rgb(156, 171, 240);
    font-size: 17px;
}
a{
    color: rgb(255,255,255);
    text-decoration: none;
}
li{
    list-style: none;
    margin: 1.5em;
}
main > nav > ul > a:hover > li{
    background-color: rgba(255, 238, 238, 0.5);
    color: rgba(90, 115, 230, 0.8);
    padding: 0.5em;
    border-radius: 0.5em;
}
nav{
    position: relative;
    top: 5em;
    left: 30em;
    text-align: center;
}
.cabecalho{
    text-align: center;
    position: relative;
    left: 31em;
    color:rgba(255, 255, 255)
}